

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile List</title>
</head>
<body>
<h3>Profile List</h3>
{% for dta in data %}
    <p>{{ forloop.counter }}. {{ dta.firstName }} {{ dta.lastName}} - {{ dta.gmail }} - {{ dta.get_gender_display }}
        (<a href="{% url 'profileapp:profile_update' dta.id %}">Update</a> |
        <a href="{% url 'profileapp:profile_delete' dta.id %}">Delete</a>)
    </p>
{% endfor %}

<p> <a href="{% url 'profileapp:profile_create' %}"> + Add A New Profile</a></p>
</body>
</html>